.admin-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 255px;
    height: 100vh;
    background-color: #f1c44e;
    border-right: 1px solid #273143;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.sidebar-logo {
    width: 32px;
    height: 32px;
    background-color: #e77713;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b0f0d;
    font-size: 16px;
    padding: 20px;
}

    .sidebar-logo img {
        filter: invert(1)
    }

.sidebar-menu {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 700;
}

.sidebar-link span {
    color: #1b0f0d;
    font-weight:700;
}

.sidebar-link img{
    filter:invert(1);
}

.sidebar-link {
    height: 41px;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 0 13px;
    color: #1b0f0d;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.15s ease;
}

    .sidebar-link i {
        width: 17px;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    /* Hover */

    .sidebar-link:hover {
        color: #FFFFFF;
        background-color: #e77713;
    }
    /* Active */

    .sidebar-link.active {
        
        font-weight: 600;
    }

        .sidebar-link.active:hover {
            background-color: #e77713;
        }

.sidebar-bottom {
    margin-top: auto;
    padding: 15px 12px;
    border-top: 1px solid #273143;
    font-weight: 700;
}

.admin-content {
    margin-left: 255px;
    min-height: 100vh;
    background-color: #101827;
    padding: 30px;
}


.sidebar-header {
    display: flex;
    color: #1b0f0d;
    padding: 26px;
    border-bottom: 1px solid #273143;
}

.sidebar-header span{
    margin-left: 1.2vh;
    margin-top: 0.5vh;
    font-size: 1.2rem;
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 78px;
    background: #fff;
    border-bottom: 1px solid #e1e5ea;
}

.navbar-content {
    width: 100%;
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


/* ЛОГОТИП */

.brand {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 335px;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #111827;
}

.brand-icon {
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e77713;
    color: white;
    font-size: 1.9rem;
}

    .brand-icon img {
        filter: invert(1);
        width: 70%;
    }


/* ПОШУК */

.search {
    width: 448px;
    height: 40px;
    display: flex;
    align-items: center;
    background: #f0f3f7;
    padding: 0 13px;
}

    .search i {
        color: #60738a;
        font-size: 15px;
    }

    .search input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        padding-left: 12px;
        font-size: 14px;
        font-family: Arial, sans-serif;
        color: #222;
    }

        .search input::placeholder {
            color: #9aa6b5;
        }


/* ПОСИЛАННЯ */

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0;
}

    .links a {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        text-decoration: none;
        color: #111827;
        font-family: Arial, sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
    }


    /* КАТАЛОГ */

    .links .catalog {
        margin-left: 8px;
        width: 91px;
        background: #e77713;
        color: #1b0f0d;
    }


    /* КОНТАКТИ */

    .links .contacts {
        width: 103px;
        margin-left: 24px;
        border: 1px solid #111827;
    }


    /* HOVER */

    .links a:hover {
        color: #a6540c;
    }

    .links .catalog:hover {
        color: #1b0f0d;
        background: #a6540c;
    }

    .links .contacts:hover {
        color: #1b0f0d;
        background: #a6540c;
    }


/* ADAPTIVE */

@media (max-width: 1100px) {

    .brand {
        width: 250px;
    }

    .search {
        width: 330px;
    }
}

@media (max-width: 850px) {

    .navbar {
        height: auto;
    }

    .navbar-content {
        padding: 15px 20px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .brand {
        width: auto;
    }

    .search {
        order: 3;
        width: 100%;
    }

    .links {
        margin-left: auto;
    }
}

@media (max-width: 600px) {

    .links a:not(.catalog):not(.contacts) {
        display: none;
    }

    .links .contacts {
        margin-left: 10px;
    }
}